@model Crud2.Models.Order

@{
    ViewBag.Title = "About";
}

<div>
    Welcome <Dan> , <br /> 
         Your Customer Number is <X> <br />
         Your order number is <Y> <br />
         
    Your order of <Product> is on the way! 
</div>
