@model Crud2.Models.Order

@{
    ViewBag.Title = "About";
}

<div>
    Welcome <Dan>
        , your Customer Number is <X>
            and your order number is <Y>
                Your order of <Product> is on the way!
</div>
